.tools {
  padding: 0 24px 4em 24px;
  overflow: hidden;

  &__title {

  }


  &__container {
    display: flex;
    animation: scroll 15s linear infinite;
  }

  &__item {
    width: 64px;
    height: auto;
    margin: 0 2em;
  }
}

@media screen and (min-width: 768px) {
  .tools {
    padding: 0 24px 5em 24px;

    &__title {
      font-size: 1.8em;
    }
  }
}

@media screen and (min-width: 1024px) {
  .tools {
    padding-bottom: 6em;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-128px * 10));
  }
}