.heroabout {
  display: flex;
  flex-direction: column;
  background-image: url("../img/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  padding: 81px 24px 77px 24px;

  &__title {
    margin-bottom: 29px;
    max-width: 200px;

    & span {
      font-weight: 300;
    }
  }
}