.color {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: initial;
  position: relative;
  //z-index: 10;

  &__title {
    margin-bottom: 1em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__card {
    position: relative;
    width: 100%;
    min-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    &:hover > p {
      color: white;
    }
  }

  &__container {
    position: absolute;
    inset: 0;
    transition: .3s;

    &:hover {
      filter: brightness(50%);
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    color: transparent;
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: bold;
    transition: .3s;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .color {
    &__list {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1024px) {
  .color {
    &__title {
      font-size: 52px;
    }

    &__list {
      display: flex;
    }

    &__card {
      min-height: 4.5em;
    }
  }
}