@mixin upper-partition {
  position: relative;

  &:before {
    position: absolute;
    content: url("../img/upper-partition.svg");
    margin-top: -5.5em;
    top: 0;
    left: 24px;
  }
}

@mixin lower-partition {
  position: relative;
  &:after {
    position: absolute;
    content: url("../img/lower-partition.svg");
    z-index: -1;
    bottom: 0;
    margin-bottom: -0.25em;
    left: 24px;
  }
}
