html, html * {
  box-sizing: border-box;
}

body {
  background-color: $bodyBackground;
}

section, .header__container, .footer__container {
  width: 100%;
  padding: 0 24px;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  section, .header__container, .footer__container {
    max-width: 1200px;
    margin: auto;
  }
}