html, html * {
  box-sizing: border-box;
}

body {
  background-color: $bodyBackground;
  color: $textColor;
}

section, .header__container, .footer__container {
  width: 100%;
  padding: 0 24px;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
}

input, textarea, select {
  border-radius: 0;
  font-family: inherit;
}

a.active {
  font-weight: bold;

  &:after {
    width: 100%;
  }
}

.light {
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  section, .header__container, .footer__container {
    max-width: 1200px;
    margin: auto;
  }

  section {
    padding: 5em 24px;
  }
}