$bodyBackground: #F8F7F5;
$textColor: #2C231E;

/* CTA */
$ctaBackgroundColor: #2C231E;
$ctaTextColor: #EFECE6;

$ctaBackgroundColorDisabled: #625952;

$ctaTextColorAlt: #2C231E;

$backgroundColor: #EFECE6;