.heroprojets {
  display: flex;
  flex-direction: column;
  background-image: url("../img/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  padding: 81px 24px 77px 24px;

  &__title {
    margin-bottom: 29px;
    max-width: 250px;

    & span {
      font-weight: 300;
    }
  }
}

.projets {
  display: flex;
  flex-direction: column;
  margin-top: -3em;
  align-items: center;
  padding-bottom: 80px;
}