.heroprojets {
  display: flex;
  flex-direction: column;
  background-image: url("../img/hero-bg-mobile.svg");
  background-repeat: no-repeat;
  padding: 81px 24px 77px 24px;

  &__title {
    margin-bottom: 29px;

    & span {
      font-weight: 300;
    }
  }
}

.projets {
  display: flex;
  flex-direction: column;
  margin-top: -3em;
  align-items: center;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .heroprojets {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .projets {
    padding-bottom: 8em;
  }
}