.cursor {
  z-index: 100;
  pointer-events: none;
  width: 10px;
  height: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.link {
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  animation: scaleUp .4s;
  text-align: center;

  &:after {
    display: inline-block;
    transform: translate(-15%, -45%);
    color: #2C231E;
    font-family: "Kalnia", "Georgia", serif;

    content: "Visiter";
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #F0ECE6;
  }
}

.zoom {
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  animation: scaleUp .4s;
  text-align: center;

  &:after {
    display: inline-block;
    transform: translate(-15%, -45%);
    color: #2C231E;
    content: "\e987";
    padding: 20px 20px;
    font-size: 1.4em;
    border-radius: 50%;
    background-color: #F0ECE6;

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@keyframes scaleUp {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}