.bg {
  position: relative;
  z-index: 2;
  background-color: $backgroundColor;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 50px 0;
    border-color: transparent #F0ECE6 transparent transparent;
    transform: rotate(0deg);
    pointer-events: none;
  }
}


@media screen and (min-width: 1024px) {
  .key {
    background-image: url("../img/sol-key-large.svg");
    background-repeat: no-repeat;
  }
}