.bg {
  position: relative;
  z-index: 2;
  background-color: $backgroundColor;

  &:after {
    position: absolute;
    content: '';
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    width: 100%;
    height: 5vw;
  }
}


@media screen and (min-width: 1024px) {
  .key {
    background-image: url("../img/sol-key-large.svg");
    background-repeat: no-repeat;
  }
}