.footerlist {
  &__description {
    margin-bottom: 2.5em;

    & > p {
      margin-top: 0.2em;
      margin-bottom: 1em;
    }
  }

  &__link {
    padding: 0.2em 0;
  }
}

@media screen and (min-width: 1024px) {
  .footerlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding-bottom: 5em;

    &__description {
      margin-bottom: 0;

      & > p {
        margin-bottom: 1.8em;
      }
    }
  }
}