.header {
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  position: relative;
  z-index: 10;

  &:after {
    position: absolute;
    bottom: -100px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 100px 0;
    border-color: transparent #F0ECE6 transparent transparent;
    transform: rotate(0deg);
    pointer-events: none;
  }

  &__container {
    position: relative;
    width: 100%;
    padding: 30px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__container {
      padding-top: 2.2em;
    }
  }
}