.header {
  display: flex;
  background-color: $backgroundColor;
  position: relative;
  z-index: 10;

  &__container {
    position: relative;
    width: 100%;
    padding: 30px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__container {
      padding-top: 2.2em;
    }
  }
}