.field {
  &__input {
    border: none;
    background-color: $bodyBackground;
    border-bottom: 1px solid $textColor;
    padding: 14px 0;
    margin-bottom: 15px;
  }

  &__textarea {
    border: none;
    background-color: $bodyBackground;
    border-bottom: 1px solid $textColor;
    padding: 14px 0;
    margin-bottom: 15px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__label {
    padding-bottom: 5px;
  }

  &__submit {
    align-self: flex-start;
    font-size: inherit;
    justify-self: flex-start;
  }

  &__valid {
    grid-column: span 2;
    color: green;
  }

  &__error {
    margin-bottom: 1.5em;
    -webkit-text-fill-color: $red;
    -webkit-opacity: 1;
    color: $red;

    &:before {
      content: '\ea08 ';
      color: $red;
      margin-right: 0.5em;
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

label[data-type="required"] {
  &:after {
    content: ' *';
    color: $red;
  }
}

@media screen and (min-width: 768px) {
  .field {
    &__container {
      &--full{
        grid-column: span 2;
      }
    }
  }
}